@import "tailwindcss";

@theme {
  --font-sans: "Merriweather Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Merriweather", ui-sans-serif, system-ui, serif;
  --shadow-up: 0 -12px 18px -5px rgb(0 0 0 / 0.1), 0 -6px 10px -4px rgb(0 0 0 / 0.1);
  --shadow-up: 0 -12px 18px -5px rgb(0 0 0 / 0.1), 0 -6px 10px -4px rgb(0 0 0 / 0.1);
  --breakpoint-xs: 30rem;
}

html,
body {
  @apply bg-stone-50 text-stone-950;
  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

.content {
  @apply bg-stone-50 text-stone-950;
}

body {
  @apply flex flex-col min-h-screen font-sans;
}

main {
  @apply flex-auto;
}

label {
  @apply block text-sm font-bold;
}

label + input {
  @apply mt-1;
}
input, textarea {
  @apply bg-white border-2 rounded border-black/10 outline-none focus:border-teal-500 px-4 py-1.5 text-lg w-full;

  &:read-only {
    @apply bg-stone-100 focus:border-black/5 border-black/5;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input.home-search {
  @apply rounded-2xl px-6 py-3 text-4xl shadow-lg border-teal-500;
}

.btn {
  @apply bg-gray-950 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded hover:cursor-pointer;
}

.form {
  input, textarea {
    @apply mb-4;
  }
  /* button {
    @apply mt-4;
  } */
}


@source "./routes";
@source "./components";
