@import "tailwindcss";

@theme {
  --font-sans: "Merriweather Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Merriweather", ui-sans-serif, system-ui, serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  @apply flex flex-col min-h-screen font-sans;
}

main {
  @apply flex-auto;
}

input {
  @apply bg-white dark:bg-gray-950 border-2 rounded-sm border-black/10 outline-none focus:border-teal-500;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input.home-search {
  @apply rounded-2xl px-6 py-3 text-4xl shadow-lg border-teal-500;
}

.btn {
  @apply bg-gray-950 hover:bg-teal-500 text-white font-bold py-2 px-4 rounded;
}


@source "./routes";
@source "./components";
